<div id="<%= dom_id flat %>">
  <p><b>
    <%= flat.name %>
  </b></p>

  <p>
    <%= flat.address %>
  </p>

  <p>
    <%= flat.description %>
  </p>

  <p>
    <i class="fa-solid fa-sack-dollar"></i>
    <%= flat.price_per_night %>
  </p>

  <p>
    <i class="fa-solid fa-users-rectangle"></i>
    <%= flat.number_of_guests %>
  </p>

</div>
