<div class="container" >
  <p style="color: green"><%= notice %></p>

    <%= render @flat %>

    <div >

        <li class="fa-regular fa-pen-to-square">
      <%= link_to "Edit this flat", edit_flat_path(@flat) %> |
        </li>
          <br>
                <br>

        <li class="fa-solid fa-left-long">
      <%= link_to "Back to flats", flats_path %>
        </li>
          <br>
          
        <li class="btn btn-outline-danger">
      <%= button_to "Destroy this flat", @flat, method: :delete %>
        </li>
  </div>
</div>


